@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<link rel="stylesheet" href="~/css/informacao.css" />

<div class="topo">
    <div class="voltar">
        <img src="~/img/voltar.png" />
    </div>
    <div class="logo">
        <img src="~/img/fivelogo.png" />
    </div>
</div>
<div class="conteudo">
    <div class="informacao-roupa">
        <div class="cor">
            <div class="azul">
                <h4>Azul</h4>
                <input type="radio" name="cor" id="cor" value="azul">
            </div>
            <div class="vermelho">
                <h4>Vermelho</h4>
                <input type="radio" name="cor" id="cor"="vermelho">
            </div>
            <div class="branco">
                <h4>Branco</h4>
                <input type="radio" name="cor" id="cor"="branco">
            </div>
        </div>
        <div class="tamanho">
            <div class="pequeno">
                <h4>Pequeno</h4>
                <input type="radio" name="tamanho" id="tamanho" value="pequeno">
            </div>
            <div class="medio">
                <h4>Médio</h4>
                <input type="radio" name="tamanho" id="tamanho"="medio">
            </div>
            <div class="grande">
                <h4>Grande</h4>
                <input type="radio" name="tamanho" id="tamanho"="grande">
            </div>
        </div>
        <div class="quantidade">
            <h3>7 unidades.</h3>
        </div>
        <div class="valor">
            <h2>70,00</h2>
        </div>

        <div class="botoes-salvar-comprar">
            <div class="wishlist">
                <img src="~/img/heart.png" />
            </div>
            <div class="carrinho">
                <img src="~/img/cart.png" />
            </div>
        </div>
    </div>
    <div class="foto-camisa">
        <div class="circulo-camisa">
            <img src="~/img/circulo.png" class="fundo-camisa"/>
        </div>
        <div class="camisa">
            <img src="~/img/camisa-time.png" />
        </div>
        
    </div>
</div>