@{
    Layout = null;
    ViewData["Title"] = "Five Store - Cadastrar Funcionário";
}
<link rel="stylesheet" href="~/css/cadastrar.css" />
<div class="fundo">
    <img src="~/img/fundo.png" />
</div>

<div class="conteudo">
    <div class="tela-cadastrar">
        <div class="box">
            <form id="form-funcionario" class="form-cadastrar" onsubmit="admin.cadastrar()">
                <img src="~/img/fivelogo.png" />
                <div class="form-cadastrar-info">
                    <div class="textfield">
                        <div class="texto">
                            <label>Nome</label>
                        </div>
                        <input type="text" name="nome" id="nome" />
                    </div>
                    <div class="textfield">
                        <div class="texto">
                            <label>Email</label>
                        </div>
                        <input type="email" name="email" id="email" />
                    </div>
                    <div class="button">
                        <button type="submit">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/pages/admin.js"></script>
<script>
    admin.init({
        urls: {
            cadastrar: '@Url.Action("CadastrarFuncionario", "Admin")',
            home: '@Url.Action("Index", "Admin")'
        }
    })
</script>